<?xml version="1.0" encoding="ISO-8859-9"?>
<module version="0.1">
    <name lang="en">Remote Laboratory</name>
    <description lang="en">Allows instructors to include Remote Laboratory in a course.</description>
    <maintainers>
        <maintainer>
            <name>Uğur YILDIZ</name>
            <email>ugur@uguryildiz.net</email>
        </maintainer>
    </maintainers>
    <url>http://www.uguryildiz.net</url>
    <license>GPL</license>
	<release>
        <version>0.1</version>
        <date>2008-11-13</date>
        <state>stable</state>
        <notes></notes>
    </release>
</module>
